# Ignore node_modules in the root
node_modules/

# Ignore frontend dependencies
frontend/node_modules/

# Ignore build artifacts for frontend
frontend/build/
frontend/dist/

# Ignore backend dependencies
backend/myenv/
backend/__pycache__/
backend/*.pyc

# Ignore database files
backend/db.sqlite3

# Ignore environment files
frontend/.env
backend/.env

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore usermanagement app-specific files
backend/usermanagement/__pycache__/
backend/usermanagement/migrations/
